.plant-detail-container {
  height: 16vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  /* justify-content: space-around; */
}
.plant-detail-container:hover {
  background-color: #edf7ee;
  border-radius: 1em;
  box-shadow: 5px 5px 18px #888888;
}

.plant-img {
  width: 6vw;
  height: 12vh;
  margin-left: 40px;
  border-radius: 50%;
}

.plant-name-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}

.commonname-text {
  font-size: 1.563rem;
  margin-bottom: 5px;
}

.scientificname-text {
  margin-top: 0px;
  font-size: 0.8rem;
}

@media only screen and (max-device-width: 650px) {
  .plant-img {
    width: 16vw;
    height: 8vh;
    margin-left: 10px;
  }

  .commonname-text {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .scientificname-text {
    margin-top: 0px;
    font-size: 0.64rem;
  }
}
