.img-header-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  top: 80px;
  left: 20px;
  font-size: 5vw;
  color: white;
}

.disclaimer-nested-container {
  display: flex;
  flex-direction: column;
}

.img-header-text > p {
  margin: 0;
}

.first-image {
  width: auto;
  height: 400px; /* height of container */
  object-fit: cover;
  object-position: 20% 45%;
  /* height: 150vh; */
}

.veggie-img-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.veggie-image {
  /* display: inline; */
  margin-left: -60px;
  height: 100%;
  width: auto;
  /* width: 20vw; */
}

.third-image {
  padding-top: 8vh;
  width: 18vw;
  display: block;
  margin-left: auto;
  margin-right: 10vw;
}

.first-section-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.second-section-container,
.third-section-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.second-section-container {
  background-color: #edf7ee;
}

.disclaimer-box {
  margin: auto;
  padding: 0.2vw;
  background-color: green;
  width: 50vw;
  border-radius: 10px;
  color: white;
}

.feature1 {
  padding-top: 4vh;
  padding-left: 10vw;
  position: absolute;
  font-size: 2vw;
}

.second-feature-description1 {
  padding-top: 40px;
  font-size: 2vw;
}

.second-feature-description {
  padding-left: 100px;
  font-size: 2vw;
}

.third-section-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}

@media only screen and (max-device-width: 650px) {
  .first-section-container {
    height: 60vh;
  }
  .resources-box {
    width: 80vw;
    font-size: 2vw;
  }
  .first-image {
    height: 20vh;
    object-position: 0% 36%;

    object-fit: cover;
  }
  .third-image {
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-header-text {
    position: absolute;
    top: 8vh;
    left: 4vw;
  }
  .feature1 {
    position: relative;
    padding-left: 0px;
  }
}
