.plant-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.plant-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.plant-name-card {
  width: 40vw;
  display: flex;
  border: 1px solid black;
}

.plant-name-container {
  padding: 20px;
}
