.plant-page-container {
  display: block;
  width: 40rem;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: auto;
}

.plant-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.plant-name-card {
  /* width: 40vw; */
  display: flex;
}

.plant-name-container {
  padding: 20px;
}

.fact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fact-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #edf7ee;
  margin: 4px;
}

.fact-container > div > h4 {
  padding-right: 20px;
  padding-left: 20px;
}

.fact-container > div > p {
  flex-wrap: wrap;
  padding-right: 20px;
}

.edible-use-box,
.medicinal-use-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.favorite-btn {
  visibility: hidden;
}

.favorite-icon {
  visibility: visible;
  margin-bottom: 90px;
  color: rgb(126, 126, 15);
  font-size: 20px;
}
