.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1c7143;
  padding: 2vh;
}

.desktop-menu {
  font-size: 1rem;
}

.desktop-menu > a {
  text-decoration: none;
  padding-left: 20px;
  color: white;
}

.burger-menu {
  display: none;
  color: white;
}
.logo-icon {
  text-decoration: none;
  color: white;
  font-size: 1.563rem;
}
.hiking-icon {
  padding-left: 0.8rem !important;
}
.menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
  width: 30vw;
  margin: 0 auto;
  background: white;
  color: black;
  padding: 10px;
  position: absolute;
  top: 5%;
  right: 2vw;
  border: 1px solid black;
}

.menu-overlay > a {
  text-decoration: none;
  font-size: 2vw;
}

@media only screen and (max-device-width: 650px) {
  .logo-icon {
    font-size: 1rem;
  }
  .hiking-icon {
    padding-left: 0.4rem !important;
  }

  .burger-menu {
    display: block;
    color: white;
  }

  .desktop-menu {
    display: none;
  }

  .menu-overlay {
    width: auto;
  }

  .menu-overlay > a {
    font-size: 4vw;
  }
}
